@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow-x: hidden;
}

@media (max-width: 1024px) {
    body {
        overflow-y: hidden;
    }
    .transition-transform {
        transition-property: transform;
    }

    .translate-x-0 {
        transform: translateX(0);
    }

    .-translate-x-full {
        transform: translateX(-100%);
    }
}
